{% extends 'base.html' %}


{% block content %}

    

    <!-- HOME SECTION -->
    <section id="home">
        <!-- Background video -->
        <video id="home-video" poster="/videos/baby_video_poster.jpg" autoplay loop muted>
            <source src="../../static/videos/baby_video_mp4.mp4" type="video/mp4">
            <source src="../../static//videos/baby_video.ogv" type="video/ogg">
            <source src="../../static//videos/baby_video_webm.webm" type="video/webm">
        </video>

        <!-- Overlay -->
        <div id="home-overlay"></div>
    </section>
        <!-- Home Content -->
        <div id="home-content">

            <div id="home-content-inner" class="text-center">
                <!-- HOME TEXT IN THE MIDDLE OF THE PAGE -->
                <div id="home-heading">
                    <h1 id="home-heading-1">Activate</h1>
                    <h1 id="home-heading-2">Your Baby's <span>Potential</span></h1>
                </div>
                <!-- TEXT UNDER HEADING -->
                <div id="home-text">
                    <p>
                        Discrubre y activa el potencial de tu bebe!  
                        <!-- above is fill in text FILL IN WITH WHAT YOU WANT -->
                    </p>
                </div>

                <div id="home-button">
                    <a class="btn btn-general btn-home" href="#about" title="activate button">Activate</a>
                </div>
            </div>
        </div>

        <!-- Down Arrow from Home to About -->
        <a href="#about" id="down-arrow">
            <i class="fa fa-angle-down"></i>
        </a>
  
    <!-- HOME SECTION ENDS -->

    <!-- ABOUT US SECTION -->
    <section id="about">
        <!-- TOP PART OF ABOUT SECTION -->
        <div id="about-top">
            <div class="content-box-lg">
                <div class="container">
                    <div class="row">
                        
                        <!-- About left side -->
                        <div class="col-md-6">
                            <div id="about-left">
                                <!--About us heading -->
                                <div class="vertical-heading">
                                    <h5>Quienes Somos</h5>
                                    <h2>About Us</h2>
                                    <h2>Our Outlook</h2>
                                </div>

                                <!-- Gaby &Yesenia's Pictures -->
                                <div class="column">
                                    <img id="pictures" src="../../static/images/morton_arbeterum_open_heart.jpg" alt="gabys-picture" style="width: 60%;">
                                    <figcaption><i>Gaby Jimenez</i></figcaption>
                                </div> 
                                <div class="column">
                                        <img id="pictures" src="../../static/images/yesenia_portrait_2.jpg" alt="yesenias-picture" style="width: 60%;">
                                        <figcaption><i>Yesenia Vega</i> </figcaption>
                                </div>        
                                    
                                    
                            </div>
                        </div>

                        <!-- About right side -->
                        <div class="col-md-6">
                            <div id="about-right">
                                <!-- Gaby's Paragraph -->
                                <br><h4 id="gabys-about">Gaby Jimenez</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                    Minus eius, eaque, quisquam pariatur nulla commodi sapiente laudantium 
                                    mollitia voluptate quaerat consectetur perferendis est, reprehenderit 
                                    suscipit ipsam adipisci doloribus! Culpa, nam.</p>
                                    <br>
                                <!-- Yesenia's Paragraph -->
                                <h4 id="yesenias-about">Yesenia Vega</h4>
                                <p>As a woman who one day wishes to have a family of her own, when I met Gaby, I was blown away with
                                    the techniques and activities she was implementing to her children. It dawned on me, I am sure I wouldn't
                                    be the only person who can benefit from this kind of information and knowledge. We decided to partner up,
                                    and bring to you <span>Activate Baby</span>!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- BOTTOM PART OF ABOUT SECTION -->
        <div id="about-bottom">
            <div class="content-box-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="about-item text-center">
                                <img src="https://img.icons8.com/external-sbts2018-outline-sbts2018/58/000000/external-stars-social-media-sbts2018-outline-sbts2018.png"/>
                                <h3>Mission</h3>
                                <hr>
                                <p>Inform parents of alternatives of engagement and developement of their children. So,
                                    the children can activate and unleash their full potential.</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="about-item text-center">
                                <img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-vision-valentines-day-flatart-icons-outline-flatarticons.png"/>
                                <h3>Vision</h3>
                                <hr>
                                <p>Provide the the knowledge to not only first time parents, reoccurring, or even provide insight
                                    to those who have interest in the early developement of a child.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="about-item text-center">
                                <img src="https://img.icons8.com/cotton/64/000000/babys-room.png"/>
                                <h3>Passion</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nam culpa, 
                                    numquam hic incidunt quidem voluptatem laudantium eaque vero </p>
                            </div>
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- ABOUT US SECTION ENDS -->

    <!-- ACTIVITY SECTION  -->
   
    <section id="activities">
        <div class="content-box-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="vertical-heading">
                            <h5>Actividades</h5>
                            <h2>Our <br> Activities</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Heading tabs -->
            <div id="activities-options-tabs">
                <ul class="text-center">
                    <li><a href="#activity-tab-1">Visual</a></li>
                    <li><a href="#activity-tab-2">Hearing</a></li>
                    <li><a href="#activity-tab-3">Smell</a></li>
                    <li><a href="#activity-tab-4">Touch</a></li>
                </ul>
                

                <!-- Activities Tab 1 -->
                <div id="activity-tab-1" class="activity-tab">
                    <div class="container">
                        <div class="row">
                            <!-- left side of the section (picture) -->
                            <div class="col-md-6"> 
                                <img src="../../static/images/activity-1.jpg" class="img-responsive" alt="activity" >
                            </div>
                            <!-- right side of the section (text) -->
                            <div class="col-md-6">
                                <div class="tab-bg">
                                    <h3>Visual</h3>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta aspernatur voluptatibus 
                                        magni fugit mollitia, commodi earum atque nemo vel unde laborum dolores illo! Corporis 
                                        voluptate consequuntur dolor commodi excepturi velit. Lorem ipsum dolor sit, amet consectetur 
                                        adipisicing elit. Minima, totam! Consequatur neque qui dicta nostrum nulla dolor fugiat, 
                                        voluptates rerum tempora inventore perspiciatis iure animi, velit veniam libero vero deleniti.</p>
                                        
                                        <div id="activity-btn">
                                            <a class="btn btn-general btn-activity" href="{{ url_for('site.visualActivities') }}" title="activities" role="button">Let's Play!</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Activities Tab 2 -->
                <div id="activity-tab-2" class="activity-tab">
                    <div class="container">
                        <div class="row">
                            <!-- left side of the section (picture) -->
                            <div class="col-md-6">
                                <img src="../../static/images/baby_tummy.jpg" class="img-responsive" alt="activity" >
                            </div>
                            <!-- right side of the section (text) -->
                            <div class="col-md-6">
                                <div class="tab-bg">
                                    <h3>Hearing</h3>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta aspernatur voluptatibus 
                                        magni fugit mollitia, commodi earum atque nemo vel unde laborum dolores illo! Corporis 
                                        voluptate consequuntur dolor commodi excepturi velit. Lorem ipsum dolor sit, amet consectetur 
                                        adipisicing elit. Minima, totam! Consequatur neque qui dicta nostrum nulla dolor fugiat, 
                                        voluptates rerum tempora inventore perspiciatis iure animi, velit veniam libero vero deleniti.</p>
                                        
                                        <div id="activity-btn">
                                            <a class="btn btn-general btn-activity" href="{{ url_for('site.hearingActivities') }}" title="activities" role="button">Let's Play!</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Activities Tab 3 -->
                <div id="activity-tab-3" class="activity-tab">
                    <div class="container">
                        <div class="row">
                            <!-- left side of the section (picture) -->
                            <div class="col-md-6">
                                <img src="../../static/images/baby_smelling.jpg" class="img-responsive" alt="activity" >
                            </div>
                            <!-- right side of the section (text) -->
                            <div class="col-md-6">
                                <div class="tab-bg">
                                    <h3>Smell</h3>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta aspernatur voluptatibus 
                                        magni fugit mollitia, commodi earum atque nemo vel unde laborum dolores illo! Corporis 
                                        voluptate consequuntur dolor commodi excepturi velit. Lorem ipsum dolor sit, amet consectetur 
                                        adipisicing elit. Minima, totam! Consequatur neque qui dicta nostrum nulla dolor fugiat, 
                                        voluptates rerum tempora inventore perspiciatis iure animi, velit veniam libero vero deleniti.</p>
                                        
                                        <div id="activity-btn">
                                            <a class="btn btn-general btn-activity" href="{{ url_for('site.smellActivities') }}" title="activities" role="button">Let's Play!</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Activities Tab 4 -->
                <div id="activity-tab-4" class="activity-tab">
                    <div class="container">
                        <div class="row">
                            <!-- left side of the section (picture) -->
                            <div class="col-md-6">
                                <img src="../../static/images/boys_painting.jpg" class="img-responsive" alt="activity" >
                            </div>
                            <!-- right side of the section (text) -->
                            <div class="col-md-6">
                                <div class="tab-bg">
                                    <h3>Touch</h3>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta aspernatur voluptatibus 
                                        magni fugit mollitia, commodi earum atque nemo vel unde laborum dolores illo! Corporis 
                                        voluptate consequuntur dolor commodi excepturi velit. Lorem ipsum dolor sit, amet consectetur 
                                        adipisicing elit. Minima, totam! Consequatur neque qui dicta nostrum nulla dolor fugiat, 
                                        voluptates rerum tempora inventore perspiciatis iure animi, velit veniam libero vero deleniti.</p>
                                        
                                        <div id="activity-btn">
                                            <a class="btn btn-general btn-activity" href="{{ url_for('site.touchActivities') }}" title="activities" role="button">Let's Play!</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </section>
  
    <!-- ACTIVITY SECTION ENDS -->

    <!-- CONTACT SECTION -->
    <section id="contact">
        <div class="content-box-md">
            <div class="container">
                <div class="row">
                     <!-- LEFT side of contact -->
                     <div class="col-md-6">
                        <div id="contact-left">
                            <div class="vertical-heading">
                                <h5>Conectate</h5>
                                <h2>Let's Get <br> In Touch</h2>
                            </div>
                            <p>Feel free to contact us with any questions, concerns, or feedback! 
                                We are devoted in providing the best quality work to our audience. Therefore,
                            feedback is always welcomed and appreciated.</p>
                        </div>
                    </div>
                    <!-- RIGHT side of contact -->
                    <div class="col-md-6">
                        <!-- Send us a note form -->
                        <form id="contact-right">
                            <h4>Send a Note</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae est non necessitatibus asperiores 
                                exercitationem provident voluptates. </p>
                                <div class="row">

                                    <!-- name and email input -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name" placeholder="Your Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="email" placeholder="Email Address">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                                        </div>
                                    </div>
                                </div>

                                <!-- Textarea for message -->
                                <div class="form-group">
                                    <textarea id="message" class="form-control" placeholder="Message"></textarea>
                                </div>

                                <!-- Submit button -->
                                <div id="submit-btn">
                                    <a class="btn btn-general btn-activity" action="mailto:yeseniav32@gmail.com">Send</a>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CONTACT SECTION ENDS -->

    <!-- FOOTER SECTION -->
    <footer class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright &copy; 2022 All Rights Reserved By <span>Activate Bebe!</span> </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- END OF FOOTER SECTION -->

{% endblock content %}

