<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link type="text/css" rel="stylesheet" href="../static/css/responsive_tabs/responsive-tabs.css" />
<link rel="stylesheet" href="../static/css/styles.css">

<!-- <script src="../static/js/jquery-3.6.0.js"></script> -->
<!-- <script src="../static/js/script.js"></script> -->



<title>Baby Activity API</title>
</head>
<body>

    <!-- PRELOADER -->
    <!-- <div id="preloader">
        <div id="status">&nbsp;</div>
    </div> -->
    <!--PRELOADER ENDS -->

    <header>
        <nav class="ct-nav">
            <div>
                <a href="{{ url_for('site.home', _anchor='home') }}">
                    <img src="../static/images/icons8-brick-50.png" alt="logo" >
                </a>
            </div>
                <ul id="horizontal-list">
                    <a href="{{ url_for('site.home') }}">
                        <li>Home</li>
                    </a>
                    <a href="{{ url_for('site.home', _anchor='about') }}">
                        <li>About</li>
                    </a>
                    <a href="{{ url_for('site.home', _anchor='activities') }}">
                        <li>Activities</li>
                    </a>
                    <a href="{{ url_for('site.home', _anchor='contact') }}">
                        <li>Contact</li>
                    </a>
                </ul>
            </div>
        </nav>
    </header>
    <!-- End of Navbar -->

    {% block content %}

    {% endblock content %}
<script src="../static/js/jquery-3.6.0.js"></script>
<script src="../static/js/jquery.responsiveTabs.min.js"></script>
<script src="../static/js/script.js"></script>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>